%section.cover
  %img{src: "/assets/images/layers/cover.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-01.layer
  %img{src: "/assets/images/layers/layer_01/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_01/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_01/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_01/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-02.layer
  %img{src: "/assets/images/layers/layer_02/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_02/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_02/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#alternative-01.alternative
  %h1.alternative_t
    %img{src: "/assets/images/layers/buble/title.png", width: "438", height: "43", alt: "Что же делать дальше?"}
  .grid
    .grid-i.__grid-6
      .alternative_i
        %a{href: "javascript: void(0);", rel: "go-to-3", class: "alternative_i_a", data: {normal: "/assets/images/layers/buble/go-to-3.png", hover: "/assets/images/layers/buble/go-to-3_hover.png"}}
          %img{src: "/assets/images/layers/buble/go-to-3.png", width: "398", height: "276", alt: "Войти и крикнуть: Я Faqman и я помогу вам!"}
    .grid-i.__grid-6
      .alternative_i
        %a{href: "javascript: void(0);", rel: "go-to-5", class: "alternative_i_a", data: {normal: "/assets/images/layers/buble/go-to-5.png", hover: "/assets/images/layers/buble/go-to-5_hover.png"}}
          %img{src: "/assets/images/layers/buble/go-to-5.png", width: "398", height: "276", alt: "Замедлить время и незаметно помочь студентам."}

%section#layer-03.layer
  %img{src: "/assets/images/layers/layer_03/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_03/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_03/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_03/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-04.layer
  %img{src: "/assets/images/layers/layer_04/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_04/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_04/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_04/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_04/frame_05.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-05.layer
  %img{src: "/assets/images/layers/layer_05/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_05/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_05/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_05/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-06.layer
  %img{src: "/assets/images/layers/layer_06/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_06/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_06/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_06/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-07.layer
  %img{src: "/assets/images/layers/layer_07/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_07/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_07/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_07/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-08.layer
  %img{src: "/assets/images/layers/layer_08/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_08/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_08/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_08/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#alternative-02.alternative
  %h1.alternative_t
    %img{src: "/assets/images/layers/buble/title.png", width: "438", height: "43", alt: "Что же делать дальше?"}
  .grid
    .grid-i.__grid-6
      .alternative_i
        %a{href: "javascript: void(0);", rel: "go-to-9", class: "alternative_i_a", data: {normal: "/assets/images/layers/buble/go-to-9.png", hover: "/assets/images/layers/buble/go-to-9_hover.png"}}
          %img{src: "/assets/images/layers/buble/go-to-9.png", width: "398", height: "276", alt: "Взять печеньку в награду за решенные задачи."}
    .grid-i.__grid-6
      .alternative_i
        %a{href: "javascript: void(0);", rel: "go-to-10", class: "alternative_i_a", data: {normal: "/assets/images/layers/buble/go-to-10.png", hover: "/assets/images/layers/buble/go-to-10_hover.png"}}
          %img{src: "/assets/images/layers/buble/go-to-10.png", width: "398", height: "276", alt: "Быть настоящим героем и не брать печеньку!"}

%section#layer-09.layer
  %img{src: "/assets/images/layers/layer_09/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_09/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_09/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_09/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-10.layer
  %img{src: "/assets/images/layers/layer_10/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_10/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_10/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_10/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-11.layer
  %img{src: "/assets/images/layers/layer_11/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_11/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_11/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_11/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}

%section#layer-12.layer
  %img{src: "/assets/images/layers/layer_12/frame_01.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_12/frame_02.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_12/frame_03.jpg", alt: "", width: "100%", class: "layer_frame"}
  %img{src: "/assets/images/layers/layer_12/frame_04.jpg", alt: "", width: "100%", class: "layer_frame"}