%header#header.header{role: "banner"}
  .ctn
    .grid
      .grid-i.__grid-3.va-m
        .tx.__center
          %a{href: "#top", class: "header_home", data: {scroll: "true"}} наверх
      .grid-i.__grid-6.va-m
        .tx.__center
          %a{href: "http://faqademy.com"}
            %img{src: "/assets/images/logo.png", alt: "Faqademy", width: "182", height: "39", class: "logo"}
      .grid-i.__grid-3.va-m
        .tx.__center
          .pluso-title
            %img{src: "/assets/images/pluso-title.png", alt: "поделиться"}
          .pluso{data: {background: "transparent", options: "small,square,line,horizontal,nocounter,theme=04", services: "vkontakte,facebook,twitter", user: "1317731644"}}