@if $layout != "static" {

  //****************************************************************************************************
  //
  // .. HEADER
  //
  //****************************************************************************************************
  .header {
    &.__sticky {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1999;
      width: 100%;
      background: #343435;
    }
  }

}