//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic);


//****************************************************************************************************
//
// .. LAYOUT
//
//****************************************************************************************************
//
// .. Layout type
//
$layout: fixed; // .. fixed / fluid / responsive
$responsive: auto; // .. auto / manual

//
// .. Fixed layout variables
//
$column-qty:    12;
$column-width:  60;
$column-gutter: 20;

//
// .. Fluid & responsive layouts variables
//
  $phone-font-size: 81.25%;
 $tablet-font-size: 71.875%;
$desktop-font-size: 62.5%;

  $phone-ctn-width: 80%;
 $tablet-ctn-width: 80%;
$desktop-ctn-width: 80%;

$desktop-min-width: 940px;
$desktop-max-width: 1180px;
  
//
// .. Responsive layout variables
//
 $phone-min-width: 300px;
 $phone-max-width: 460px;

$tablet-min-width: 460px;
$tablet-max-width: 940px;



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Body
//
$base-bg: #37363b;
$base-color: #fff;
$base-font-family: "Roboto", sans-serif;
$base-font-size: 1.4rem;
$base-font-weight: 100;
$base-line-height: 1.5;

//
// .. Headings
//
$h-font-family: "Roboto Slab", serif;

$h1-font-size:   3.2rem;
$h1-font-weight: 400;
$h1-line-height: 1;

$h2-font-size:   3rem;
$h2-font-weight: 700;
$h2-line-height: 1.125;

$h3-font-size:   2.5rem;
$h3-font-weight: 700;
$h3-line-height: 1.25;

$h4-font-size:   2rem;
$h4-font-weight: 700;
$h4-line-height: 1.375;

$h5-font-size:   $base-font-size;
$h5-font-weight: 700;
$h5-line-height: $base-line-height;

$h6-font-size:   $base-font-size;
$h6-font-weight: $base-font-weight;
$h6-line-height: $base-line-height;

//
// .. Links
//
$links-color: #b0b0b0;
$links-color-hover: #b0b0b0;
$links-color-active: $links-color-hover;
$links-style: nn;        // .. nn / uu / un / nu
$links-style-pseudo: nn; // .. nn / uu / un

//
// .. Forms
//
$form-btn-padding: 1.5rem 2.3rem 1.6rem;
$form-el-bg: #fff;
$form-el-border-color: #3a3a3c;
$form-el-border: .1rem solid $form-el-border-color;
$form-el-border-radius: 0;
$form-el-color: #3a3a3c;
$form-el-color-required: #f00;
$form-el-color-valid-true: #008000;
$form-el-color-valid-false: #f00;
$form-el-font-size: 2.4rem;
$form-el-line-height: 1;
$form-el-padding: .8rem .6rem;

//
// .. Content styles
//
$content-styles-factor: 2;
$content-styles-links: false; // .. true / false
$content-styles-links-color: #0000cd;
$content-styles-links-color-hover: #ccc;
$content-styles-links-color-active: darken($content-styles-links-color-hover, 10%);

//
// .. Text colors
//
$tx-lighten-color: #000;
$tx-lighten-25:  lighten($tx-lighten-color,  25%);
$tx-lighten-33:  lighten($tx-lighten-color,  33%);
$tx-lighten-50:  lighten($tx-lighten-color,  50%);
$tx-lighten-66:  lighten($tx-lighten-color,  66%);
$tx-lighten-75:  lighten($tx-lighten-color,  75%);
$tx-lighten-100: lighten($tx-lighten-color, 100%);

$tx-darken-color: #fff;
$tx-darken-25:  darken($tx-darken-color,  25%);
$tx-darken-33:  darken($tx-darken-color,  33%);
$tx-darken-50:  darken($tx-darken-color,  50%);
$tx-darken-66:  darken($tx-darken-color,  66%);
$tx-darken-75:  darken($tx-darken-color,  75%);
$tx-darken-100: darken($tx-darken-color, 100%);

//
// .. Text sizes
//
$tx-xxs: $base-font-size * .5;
$tx-xxs-line-height: $base-line-height * .5;

$tx-xs: $base-font-size * .7;
$tx-xs-line-height: $base-line-height * .7;

$tx-s: $base-font-size * .9;
$tx-s-line-height: $base-line-height * .9;

$tx-l: $base-font-size * 1.1;
$tx-l-line-height: $base-line-height * 1.1;

$tx-xl: $base-font-size * 1.33;
$tx-xl-line-height: $base-line-height * 1.33;

$tx-xxl: $base-font-size * 1.5;
$tx-xxl-line-height: $base-line-height * 1.5;